 @import url('https://fonts.googleapis.com/css?family=Rock+Salt');

html{
       background-color:#5788AA;
}

body {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 1.1em;
            background-color: 
        }
        
        #content {
            width: 90%;
            max-width: 940px;
            margin: auto;
            align-items: center;
            background-color: white;
         
            
        }


#wwshoes {
	border: 1px black solid;
    
}

        .fullwidth {
	background-color: white;
            position: relative;
            border: 1px black solid;
            left: 25px;
}

        #top-row,
        #middle-row {
            display: flex;
            flex-flow: row wrap;
        }
        
        #middle-row {
            background-color: #FFE9A4;
        }
        
        nav {
         
            background-color: #FFE9A4;
        
            color: #124569;
            line-height: 3em;
            font-size: 1.1em;
            line-height: 3em;
           margin-top:-4.5em;
            padding-left: 150px;

        }
nav > ul{
    list-style-type: none;
        display:flex;
    justify-content: space-around;
    flex-flow: row wrap;
    margin: 0;
}

nav li{
    flex:1 0 6em;
   color: #124569;

    
}
a{
    text-decoration: none;
   
  color: #124569;

    
    
}
nav a{
    padding: 1em .6em;
} 


a:link{
    color: #124569;
    text-decoration: none;
    
}
/*
a:visited{
     color: #A43312;
    text-decoration: none;
}
*/
a:hover { 
    color: #5666C7;
    text-decoration: underline;
}
a:active{
   color: #795600 ;
    text-decoration: underline;
    background-color: white;
}



        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: #A43312;
            font-family: "rock salt", "palitino linotype";
        
        }
        
        img {
            max-width: 100%;
            flex-wrap: wrap;
        }
        
        #bottom-row {
/*            text-align: center;*/
            width: 95%;
/*            margin: 0 auto;*/

        }
        
        footer {
            background-color: #FFE9A4;
            height: 55px;
        }
        
        section {
            padding: 15px;
        }
.bottom-images {
/*display: flex;*/

}
        
        p {
            line-height: 1.5;
            color: #124569;

        }
        
        h2 {
            line-height: 1.2;
            margin-bottom: .2em;
        }
        
        .rightcol,
        .leftcol {
            width: 45%;
            flex: 1 0 15em;
            margin: .5em;
        }
        
        footer {
          
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
           padding:  15px;
        }
        
        #banner img {
            width: 100%;
       
        }
